{% extends "layout.html" %}

{% block title %}
    início
{% endblock %}

{% block message %}
    {% if session['message'] == 'buy' %}
        <div class="message">
            Compra realizada com sucesso.
        </div>
    {% elif session['message'] == 'sold' %}
        <div class="message">
            Venda realizada com sucesso.
        </div>
    {% elif session['message'] == 'register' %}
        <div class="message">
            Cadastro realizado com sucesso.
        </div>
    {% elif session['message'] == 'password' %}
        <div class="message">
            Senha alterada com sucesso.
        </div>
    {% elif session['message'] == 'login' %}
        <div class="message">
            Login efetuado com sucesso.
        </div>
    {% else %}
        <div class="message"></div>
{% endif %}

{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th scope="col">Sigla</th>
                <th scope="col">Empresa</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor unitário</th>
                <th scope="col">Valor total</th>
            </thead>
            <tbody>
                {% for dado in dados %}
                    {% if dado['qntd'] > 0 %}
                        <tr>
                            <td>{{dado['symbol']}}</td>
                            <td>{{dado['name']}}</td>
                            <td>{{dado['qntd']}}</td>
                            <td>$ {{dado['price']}}</td>
                            <td>$ {{dado['price'] * dado['qntd']}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <th scope="colgroup" colspan="4" style="text-align: right;">Saldo:</th>
                <td><strong>$ {{ cash }}</strong></td>
            </tfoot>
        </table>
    </div>
{% endblock %}