{% extends "layout.html" %}

{% block title %}
    Venda
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div>
            <select class="form-control" name="symbol" id="symbol">
                <option disabled selected>Escolha a ação</option>
                {% for dado in dados %}
                    {%  if dado['qntd'] > 0 %}
                        <option value="{{dado['symbol']}}">{{dado['symbol']}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <input autocomplete="off" class="form-control" type="number" name="shares" placeholder="Quantidade" min="1" required>
        </div>
        <br>
        <button class="form-control" type="submit">Vender</button>
    </form>
{% endblock %}